<div class="container">
  <form class="login" action="/login" method="post">
      <label>Username: </label>
      <input type="username" name="username">
      <input type="submit" value="Login to your account">
  </form>
</div>
