<div class="container">
  <h3>Welcome to "Know, Your, Geography!"  Don't be an ignorant prick.  Know about other places in your country and your world.</h3>
  <a href="/games/new">Play Now</a>
</div>
